webview {
    width: 100vw;
    height: 100vh;
}
* {outline: 0;box-sizing: border-box;}

#find-box {
    top: 0;
    right: 50px;
    width: 500px;
    display: none;
    position: absolute;
    padding: 10px !important;
    background: #fff;
    animation: scaleY .2s forwards;
    border: 1px solid #eee;
    border-radius: 0 0 3px 3px;
}
@keyframes scaleY {
    0% {opacity:0;transform: scale(.9) translateY(-50px)}
}

#find-text {
    width: 100%;
    background: #fff;
}   

#dialog-box {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 2px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 300px;
    padding: 10px !important;
    display: none;
    outline:  1000px solid rgba(0,0,0,.3) !important;
    animation: opacity .2s forwards;
    box-shadow: 1px 5px 15px 0px rgba(0, 0, 0, 0.34);
}
@keyframes opacity {
    0% {
        opacity:0
    }
}
#dialog-box-text {
    padding: 20px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

#dialog-box-input {
    padding: 10px !important;
    display: none;
    margin: 0 20px 20px 20px;
    width: calc(100% - 45px);
}

#dialog-box:after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
}
.dialog-box-button {
    margin: 5px;
}